
@{
    ViewBag.Title = "UpdateUser";
}

<h2>UpdateUser</h2>
<form action="/Account/ChangeUser" method="post">
    <input type="hidden" name="Id" value="@Model.Id"/>
    <input type="hidden" name="AspNetId" value="@Model.AspNetId" />
    <input type="text" name="LastName" value="@Model.LastName" />
    <input type="text" name="FirstName" value="@Model.FirstName" />
    <input type="text" name="MiddleName" value="@Model.MiddleName" />
    <input type="text" name="Address" value="@Model.Address" />
    <input type="text" name="Number" value="@Model.Number" />
    <input type="submit" value="Редактировать"/>
</form>

