
@{
    ViewBag.Title = "UpdateBook";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/UpdateBook.css" />
</head>
<h2>Редактирование объявления</h2>
<form action="/Book/ChangeBook" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="UserId" value="@Model.UserId" />
    <input type="text" name="Name" value="@Model.Name" />
    <input type="text" name="Author" value="@Model.Author" />
    <input type="number" name="PageCount" value="@Model.PageCount" />
    <select name="Genre">
        <option value="Романтика">Романтика</option>
        <option value="Фантастика">Фантастика</option>
    </select>
    <select name="Type">
        <option value="Твердый переплет">Твердый переплет</option>
        <option value="Мягкий переплет">Мягкий переплет</option>
    </select>
    <input type="number" name="Cost" value="@Model.Cost" />
    <textarea name="Description" rows="3" cols="20">@Model.Description</textarea>
    <input type="submit" id="UpdateBookButton" value="Редактировать" />
</form>
