@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "ViewCurrentBook";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/CurrentBook.css" />
</head>
<script src="~/Scripts/OwnerInfo.js"></script>
<h2 id="h2">Информация о книге</h2>
<li><p>Название книги: @Model.Name</p></li>
    <li><p>Автор: @Model.Author</p></li>
    <li><p>Жанр: @Model.Genre</p></li>
    <li><p>Тип переплета: @Model.Type</p></li>
    <li><p>Кол-во страниц: @Model.PageCount</p></li>
    <li><p>Цена: @Model.Cost</p></li>
    <li><p>Краткое описание: @Model.Description</p></li>
<input type="hidden" name="Userid" value=@Model.UserId id="UserId">
<input type="button" name="Info" id="Info" value="Владелец книги" >

<div id="results"></div>
@if (User.Identity.IsAuthenticated)
{
    <form action="/Book/BuyBook" method="post">
        <input type="hidden" name="Id" value="@Model.Id"/>
        <input type="submit" value="Бронирование покупки"/>
    </form>
}


